body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: larger;
}

header {
  padding: 20px;
  background: cornflowerblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img {
  float: right;
}